! ######
! HVAC - BOILER CURVES (DEFAULT)
! ######

Curve:Biquadratic,
  Boiler Efficiency,                      !- Name
  1,                                      !- Coefficient1 Constant
  0,                                      !- Coefficient2 x
  0,                                      !- Coefficient3 x**2
  0,                                      !- Coefficient4 y
  0,                                      !- Coefficient5 y**2
  0,                                      !- Coefficient6 x*y
  0,                                      !- Minimum Value of x {BasedOnField A2}
  1,                                      !- Maximum Value of x {BasedOnField A2}
  0,                                      !- Minimum Value of y {BasedOnField A3}
  1;                                      !- Maximum Value of y {BasedOnField A3}

!-END CURVES