MATERIAL,
    Gr2_L1,    !- Name
    Rough,                    !- Roughness
    0.015,                    !- Thickness
    0.7,                      !- Conductivity
    1600,                     !- Density
    1000,                     !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Gr2_L2,    !- Name
    Rough,                    !- Roughness
    0.24,                     !- Thickness
    0.83,                     !- Conductivity
    500,                      !- Density
    840,                      !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Gr2_L3,    !- Name
    Rough,                    !- Roughness
    0.01,                     !- Thickness
    0.04,                     !- Conductivity
    240,                      !- Density
    760,                      !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Gr2_L4,    !- Name
    Rough,                    !- Roughness
    0.025,                    !- Thickness
    0.09,                     !- Conductivity
    750,                      !- Density
    1300,                     !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Gr2_L5,    !- Name
    Rough,                    !- Roughness
    0.024,                    !- Thickness
    0.2,                      !- Conductivity
    800,                      !- Density
    1300,                     !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.7,                      !- Solar Absorptance
    0.7;                      !- Visible Absorptance

MATERIAL,
    internal_ceiling_L1,    !- Name
    Rough,                    !- Roughness
    0.1,                      !- Thickness
    1.4,                      !- Conductivity
    2100,                     !- Density
    840,                      !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

CONSTRUCTION,
    Ground_construction_ground,    !- Name
    Gr2_L1,    !- Outside Layer
    Gr2_L2,    !- Layer 2
    Gr2_L3,    !- Layer 3
    Gr2_L4,    !- Layer 4
    Gr2_L5,    !- Layer 5
    Radiant grond slab insulation - 4 in.,
    Radiant slab concrete 3.5 in,           !- Layer 2
    Radiant slab concrete - 1.5 in;         !- Layer 3

ConstructionProperty:InternalHeatSource,
    Ground_construction_ground InternalHeatSource Property, !- Name
    Ground_construction_ground,       !- Construction Name
    6,                                      !- Thermal Source Present After Layer Number
    6,                                      !- Temperature Calculation Requested After Layer Number
    1,                                      !- Dimensions for the CTF Calculation
    0.2286,                                 !- Tube Spacing {m}
    0;                                      !- Two-Dimensional Temperature Calculation Position {dimensionless}

CONSTRUCTION,
    Ground_construction,    !- Name
    internal_ceiling_L1,
    Radiant grond slab insulation - 4 in.,
    Radiant slab concrete 3.5 in,           !- Layer 2
    Radiant slab concrete - 1.5 in;         !- Layer 3

ConstructionProperty:InternalHeatSource,
    Ground_construction InternalHeatSource Property, !- Name
    Ground_construction,       !- Construction Name
    2,                                      !- Thermal Source Present After Layer Number
    2,                                      !- Temperature Calculation Requested After Layer Number
    1,                                      !- Dimensions for the CTF Calculation
    0.2286,                                 !- Tube Spacing {m}
    0;                                      !- Two-Dimensional Temperature Calculation Position {dimensionless}

CONSTRUCTION,
    Internal_ceiling,    !- Name
    Radiant slab concrete - 1.5 in,         !- Layer 3
    Radiant slab concrete 3.5 in,         !- Layer 3
    Radiant grond slab insulation - 4 in.,
    internal_ceiling_L1;    !- Outside Layer

Material,
  Radiant grond slab insulation - 4 in.,  !- Name
  Rough,                                  !- Roughness
  0.03,                                 !- Thickness {m}
  0.02,                                   !- Conductivity {W/m-K}
  56.06,                                  !- Density {kg/m3}
  1210,                                   !- Specific Heat {J/kg-K}
  0.9,                                    !- Thermal Absorptance
  0.7,                                    !- Solar Absorptance
  0.7;                                    !- Visible Absorptance

Material,
  Radiant slab concrete - 1.5 in,         !- Name
  MediumRough,                            !- Roughness
  0.0381,                                 !- Thickness {m}
  2.31,                                   !- Conductivity {W/m-K}
  2322,                                   !- Density {kg/m3}
  832,                                    !- Specific Heat {J/kg-K}
  0.9,                                    !- Thermal Absorptance
  0.7,                                    !- Solar Absorptance
  0.7;                                    !- Visible Absorptance

Material,
  Radiant slab concrete 3.5 in,           !- Name
  MediumRough,                            !- Roughness
  0.0889,                                 !- Thickness {m}
  2.31,                                   !- Conductivity {W/m-K}
  2322,                                   !- Density {kg/m3}
  832,                                    !- Specific Heat {J/kg-K}
  0.9,                                    !- Thermal Absorptance
  0.7,                                    !- Solar Absorptance
  0.7;                                    !- Visible Absorptance