MATERIAL,
    Wa1_L1,    !- Name
    Rough,                    !- Roughness
    0.005,                    !- Thickness
    0.87,                     !- Conductivity
    2085,                     !- Density
    840,                      !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Wa1_L2,    !- Name
    Rough,                    !- Roughness
    0.17,                     !- Thickness
    0.038,                    !- Conductivity
    15,                       !- Density
    1500,                     !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Wa1_L3,    !- Name
    Rough,                    !- Roughness
    0.125,                    !- Thickness
    0.44,                     !- Conductivity
    1200,                     !- Density
    840,                      !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Wa1_L4,    !- Name
    Rough,                    !- Roughness
    0.01,                     !- Thickness
    0.7,                      !- Conductivity
    1100,                     !- Density
    900,                      !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

CONSTRUCTION,
    Wall_construction,    !- Name
    Wa1_L1,    !- Outside Layer
    Wa1_L2,    !- Layer 2
    Wa1_L3,    !- Layer 3
    Wa1_L4;    !- Layer 4