MATERIAL,
    Ro1_L1,    !- Name
    Rough,                    !- Roughness
    0.008,                    !- Thickness
    0.17,                     !- Conductivity
    1050,                     !- Density
    1000,                     !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.9,                      !- Solar Absorptance
    0.9;                      !- Visible Absorptance

MATERIAL,
    Ro1_L2,    !- Name
    Rough,                    !- Roughness
    0.17,                     !- Thickness
    0.038,                    !- Conductivity
    15,                       !- Density
    1500,                     !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL,
    Ro1_L4,    !- Name
    Rough,                    !- Roughness
    0.024,                    !- Thickness
    0.13,                     !- Conductivity
    450,                      !- Density
    1600,                     !- Specific Heat
    0.9,                      !- Thermal Absorptance
    0.6,                      !- Solar Absorptance
    0.6;                      !- Visible Absorptance

MATERIAL:NOMASS,
    Ro1_L3,    !- Name
    Rough,                    !- Roughness
    2.105263e-02,             !- Thermal Resistance
    0.9,                      !- Thermal Absorptance
    0.7,                      !- Solar Absorptance
    0.7;                      !- Visible Absorptance

CONSTRUCTION,
    Roof_construction,    !- Name
    Ro1_L1,    !- Outside Layer
    Ro1_L2,    !- Layer 2
    Ro1_L3,    !- Layer 3
    Ro1_L4;    !- Layer 4