!- PEOPLE
{% for fl in TOTAL_FLOORS_LIST %} ! (e.g. if 4 fls total_floors_list=[0...3])!- floorsToSimulateList created in 'idf_generator.py'

People,
  fl{{ fl }}_thz0_People,                      !- Name
  fl{{ fl }}_thz0 Space,                       !- Zone or ZoneList or Space or SpaceList Name
  SFH_NOMINAL_occupancy_fraction_schedule,               !- Number of People Schedule Name
  People,                            !- Number of People Calculation Method
  {{ zoneResidents }},                                       !- Number of People
  ,                                       !- People per Floor Area {person/m2}
  ,                                     !- Floor Area per Person {m2/person}
  0.3,                                    !- Fraction Radiant
  autocalculate,                                       !- Sensible Heat Fraction
  SFH_NOMINAL_activity_schedule,             !- Activity Level Schedule Name
  3.82e-08,                               !- Carbon Dioxide Generation Rate {m3/s-W}
  No;                                     !- Enable ASHRAE 55 Comfort Warnings

{% endfor %} !- END floor Loop


Schedule:File,
  SFH_NOMINAL_occupancy_fraction_schedule,    !- Name
  FRACTION,                 !- Schedule Type Limits Name
  {{ profiles_dir }}/SIA2024_SFH_nominal.csv,    !- File Name
  2,                        !- Column Number
  1,                       !- Rows to Skip at Top
  8760,                     !- Number of Hours of Data
  Semicolon,                !- Column Separator
  Yes;                       !- Interpolate to Timestep



SCHEDULE:FILE,
  SFH_NOMINAL_activity_schedule,    !- Name
  ANY,                      !- Schedule Type Limits Name
  {{ profiles_dir }}/SIA2024_SFH_nominal.csv,    !- File Name
  3,                        !- Column Number
  1,                       !- Rows to Skip at Top
  8760,                     !- Number of Hours of Data
  Semicolon,                !- Column Separator
  Yes;                       !- Interpolate to Timestep


!-END people