! ################
! COMMON INSTANCES - SCHEDULE TYPE LIMITS
! ################

ScheduleTypeLimits,
  Temperature,                            !- Name
  ,                                       !- Lower Limit Value {BasedOnField A3}
  ,                                       !- Upper Limit Value {BasedOnField A3}
  Continuous,                             !- Numeric Type
  temperature;                            !- Unit Type

ScheduleTypeLimits,
  Fractional,                               !- Name
  0,                                      !- Lower Limit Value {BasedOnField A3}
  1,                                      !- Upper Limit Value {BasedOnField A3}
  Continuous;                             !- Numeric Type

ScheduleTypeLimits,
  schedule_limits_thermostatControl, !- Name
  0,                                      !- Lower Limit Value {BasedOnField A3}
  4,                                      !- Upper Limit Value {BasedOnField A3}
  DISCRETE;                               !- Numeric Type

ScheduleTypeLimits,
  ActivityLevel,                          !- Name
  0,                                      !- Lower Limit Value {BasedOnField A3}
  ,                                       !- Upper Limit Value {BasedOnField A3}
  Continuous,                             !- Numeric Type
  activitylevel;                          !- Unit Type

ScheduleTypeLimits,
  Dimensionless,                          !- Name
  ,                                       !- Lower Limit Value {BasedOnField A3}
  ,                                       !- Upper Limit Value {BasedOnField A3}
  Continuous;                             !- Numeric Type

